[data-theme="light"] {
    --bg: white;
    --text: #161513;
    --shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
    --bg: #161513;
    --text: white;
    --shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3% 5%;
    flex-wrap: wrap;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    padding: 20px;
}

.nav-connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(264deg, #24e0ef -5.09%, #ff0000 106.28%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.menu {
    cursor: pointer;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nav-menu li img {
    display: flex;
    margin: auto;
}

.anchor-link {
    text-decoration: none;
    color: var(--text);
}

.nav-mob-close {
    display: none;
}

.nav-mob-open {
    display: none;
}


@media (max-width: 768px) {
    .navbar {
        margin: 20px 50px;
    }
    .nav-connect {
        display: none;
    }
    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-mob-close {
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }
    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: var(--bg);
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li {
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}
