[data-theme="light"] {
    --bg: white;
    --text: #161513;
    --shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
    --bg: #161513;
    --text: white;
    --shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: #161513;
    color: white;
    font-family: 'outfit';
}